//
// Dana
//
@font-face {
  font-family: "Dana";
  src: url("../fonts/dana/eot/dana-fanum-regular.eot"); /* IE9*/
  src: url("../fonts/dana/eot/dana-fanum-regular.eot")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/dana/woff/dana-fanum-regular.woff")
      format("woff"),
    /* chrome, firefox */ url("../fonts/dana/ttf/DanaFaNum-Regular.ttf")
      format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}
